{% extends '/jizhang/base.html' %}

{% block title  %}
首页
{% endblock title%}

{% block zhuti %}

<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-md-center h-100">
			<div class="card-wrapper">
				<div class="brand">
					<img src="/static/img/logo.jpg" alt="logo">
				</div>	
				<div class="card fat">
					<div class="warning">
						{% if get_flashed_messages() %}
							<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Warning!</strong> {{ get_flashed_messages() }}
					</div>
						{% endif %}
					</div>
					
					
					<div class="card-body">
						<h4 class="card-title">登录</h4>
						<form method="POST" class="my-login-validation" novalidate="">
							<div class="form-group">
								<label for="email">邮箱地址</label>
								<input id="email" type="email" class="form-control" name="email" value="" required
									autofocus>
								<div class="invalid-feedback">
									邮箱格式错误
								</div>
							</div>

							<div class="form-group">
								<label for="password">密码
									<a href={{url_for('forgot')}} class="float-right">
										忘记密码?
									</a>
								</label>
								<input id="password" type="password" class="form-control" name="password" required
									data-eye>
								<div class="invalid-feedback">
									请输入密码
								</div>
							</div>
							<!----------
							<div class="form-group">
								<div class="custom-checkbox custom-control">
									<input type="checkbox" name="remember" id="remember"
										class="custom-control-input">
									<label for="remember" class="custom-control-label">Remember Me</label>
								</div>
							</div>	
							----->
							
							<div class="form-group m-0">
								<button type="submit" class="btn btn-primary btn-block">
									登录
								</button>
							</div>
							<div class="mt-4 text-center">
								没有账号? <a  href={{url_for('register')}}>立即注册</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock zhuti %}



